<div class="mt-4 ms-4">
<h1 class="mb-4"><%= "Stupid coaching" %></h1>

<form action="/answer" data-turbo="false">
  <div>
    <div><label for="inputPassword5" class="form-label">Ask your coach anything</label></div>
    <div class="input-group">
    <input type="text" name="ask" class="rounded-start" placeholder="Write your question">
    <input type="submit" value="Ask!" class="btn btn-primary input-group-btn">
    </div>
  </div>
</form>
</div>
